<div class="container mt-4">
  <h1>Instructor Management</h1>
  <div class="card">
    <form>
      <div class="form-group">
        <label>Instructor Name</label>
        <input
          type="text"
          [(ngModel)]="name"
          [ngModelOptions]="{ standalone: true }"
          class="form-control"
          id="instructorname"
          name="instructorname"
          placeholder="Enter Instructor Name"
        />
      </div>

      <div class="form-group">
        <label>Gender</label>
        <input
          type="text"
          [(ngModel)]="gender"
          [ngModelOptions]="{ standalone: true }"
          class="form-control"
          id="instructorgender"
          name="instructorgender"
          placeholder="Enter Instructor Gender"
        />
      </div>

      <div class="form-group">
        <label>Date of Birth</label>
        <input
          type="text"
          [(ngModel)]="date_of_birth"
          [ngModelOptions]="{ standalone: true }"
          class="form-control"
          id="date_of_birth"
          name="date_of_birth"
          placeholder="Enter Date of Birth"
        />
      </div>
      <div class="form-group">
        <label>Department</label>
        <input
          type="text"
          [(ngModel)]="department"
          [ngModelOptions]="{ standalone: true }"
          class="form-control"
          id="department"
          name="department"
          placeholder="Enter Department"
        />
      </div>
      <div class="form-group">
        <label>Email</label>
        <input
          type="text"
          [(ngModel)]="email"
          [ngModelOptions]="{ standalone: true }"
          class="form-control"
          id="email"
          name="email"
          placeholder="Enter Your mail Id"
        />
      </div>
      <div class="form-group">
        <label>Contact</label>
        <input
          type="text"
          [(ngModel)]="contact_number"
          [ngModelOptions]="{ standalone: true }"
          class="form-control"
          id="contact_number"
          name="contact_number"
          placeholder="Enter contact Number"
        />
      </div>
      <button
        type="submit"
        class="btn btn-primary mt-4"
        (click)="saveRecords()"
      >
        Save
      </button>
      &nbsp;
      <button
        type="submit"
        class="btn btn-warning mt-4"
        (click)="UpdateRecords()"
      >
        Update
      </button>
    </form>
  </div>
</div>

<div>
  <div class="container mt-4">
    <h1>Instructor Table</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Gender</th>
          <th scope="col">Date of Birth</th>
          
          <th scope="col">Department</th>
          <th scope="col">Email</th>
          <th scope="col">Contact</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let StudentItem of InstructorArray">
          <td>{{ StudentItem.name }}</td>
          <td>{{ StudentItem.gender }}</td>
          <td>{{ StudentItem.date_of_birth }}</td>
          <td>{{ StudentItem.department }}</td>
          <td>{{ StudentItem.email }}</td>
          <td>{{ StudentItem.contact_number }}</td>
          <td>
            <button
              type="button"
              class="btn btn-success"
              (click)="setUpdate(StudentItem)"
            >
              Edit
            </button>
            <button
              type="button"
              class="btn btn-danger"
              (click)="setDelete(StudentItem)"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
