<div class="container mt-4">
  <h1>Submission Field</h1>
  <div class="card">
    <form>
      <div class="form-group">
        <label>Assignment Id</label>
        <input
          type="text"
          [(ngModel)]="assignment"
          [ngModelOptions]="{ standalone: true }"
          class="form-control"
          id="assignment"
          name="assignment"
          placeholder="Enter Assignment Id"
        />
      </div>

      <div class="form-group">
        <label>Student Id</label>
        <input
          type="text"
          [(ngModel)]="student"
          [ngModelOptions]="{ standalone: true }"
          class="form-control"
          id="student"
          name="student"
          placeholder="Enter Student"
        />
      </div>

      <div class="form-group">
        <label>Submission Date</label>
        <input
          type="date"
          [(ngModel)]="submission_date"
          [ngModelOptions]="{ standalone: true }"
          class="form-control"
          id="submission_date"
          name="submission_date"
          placeholder="Enter Submission Date"
        />
      </div>
      <div class="form-group">
        <label>Status Of Assignment</label>
        <input
          type="text"
          [(ngModel)]="status"
          [ngModelOptions]="{ standalone: true }"
          class="form-control"
          id="status"
          name="status"
          placeholder="Enter Status In True/False"
        />
      </div>
      <div class="form-group">
        <label>Any Remarks</label>
        <input
          type="text"
          [(ngModel)]="remarks"
          [ngModelOptions]="{ standalone: true }"
          class="form-control"
          id="remarks"
          name="remarks"
          placeholder="Write Any Remarks You Want To Add"
        />
      </div>
      
      <button
        type="submit"
        class="btn btn-primary mt-4"
        (click)="saveRecords()"
      >
        Submit
      </button>
      &nbsp;
      <button
        type="submit"
        class="btn btn-warning mt-4"
        (click)="UpdateRecords()"
      >
        Update
      </button>
    </form>
  </div>
</div>

<div>
  <div class="container mt-4">
    <h1>Submission Details</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Assignment ID</th>
          <th scope="col">Student ID</th>
          <th scope="col">Submission Date</th>
          
          <th scope="col">Status</th>
          <th scope="col">Remarks</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let StudentItem of SubmissionArray">
          <td>{{ StudentItem.assignment }}</td>
          <td>{{ StudentItem.student }}</td>
          <td>{{ StudentItem.submission_date }}</td>
          <td>{{ StudentItem.status }}</td>
          <td>{{ StudentItem.remarks }}</td>
          <td>
            <button
              type="button"
              class="btn btn-success"
              (click)="setUpdate(StudentItem)"
            >
              Edit
            </button>
            <button
              type="button"
              class="btn btn-danger"
              (click)="setDelete(StudentItem)"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
