<div class="container mt-4">
  <h1>Enrollments</h1>
  <div class="card">
    <form>
      <div class="form-group">
        <label>Student ID</label>
        <input
          type="number"
          [(ngModel)]="student_id"
          [ngModelOptions]="{ standalone: true }"
          class="form-control"
          id="enrollmentstudent_id"
          name="enrollnmentstudent_id"
          placeholder="Enter Student Id"
        />
      </div>

      <div class="form-group">
        <label>Course ID</label>
        <input
          type="number"
          [(ngModel)]="course_id"
          [ngModelOptions]="{ standalone: true }"
          class="form-control"
          id="enrollmentcourse_id"
          name="enrollmentcourse_id"
          placeholder="Enter Course Id"
        />
      </div>

      <div class="form-group">
        <label>Enrollment Date</label>
        <input
          type="date"
          [(ngModel)]="enrollment_date"
          [ngModelOptions]="{ standalone: true }"
          class="form-control"
          id="enrollment_date"
          name="enrollment_date"
          placeholder="Enter Enrollment Date"
        />
      </div>
      
      <button
        type="submit"
        class="btn btn-primary mt-4"
        (click)="saveRecords()"
      >
        Enroll
      </button>
      
    </form>
  </div>
</div>

<div>
  <div class="container mt-4">
    <h1>Enrollments Data</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Student ID</th>
          <th scope="col">Course ID</th>
          <th scope="col">Enrollment Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let StudentItem of EnrollmentArray">
          <td>{{ StudentItem.student }}</td>
          <td>{{ StudentItem.course }}</td>
          <td>{{ StudentItem.enrollment_date }}</td>
          <td>
            <button
              type="button"
              class="btn btn-danger"
              (click)="setDelete(StudentItem)"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
