<div class="assignments">
    <h2>Assignments</h2>
    <ul>
      <li *ngFor="let assignment of assignments">
        <h3>{{ assignment.title }}</h3>
        <p>{{ assignment.description }}</p>
        <p>Due Date: {{ assignment.due_date }}</p>
        <button (click)="deleteAssignment(assignment.assignment_id)">Delete</button>
      </li>
    </ul>
  
    <h2>Create Assignment</h2>
    <form (submit)="createAssignment()">
      <div>
        <label for="title">Title:</label>
        <input type="text" id="title" [(ngModel)]="newAssignment.title" name="title" required>
      </div>
      <div>
        <label for="description">Description:</label>
        <textarea id="description" [(ngModel)]="newAssignment.description" name="description" required></textarea>
      </div>
      <div>
        <label for="dueDate">Due Date:</label>
        <input type="text" id="dueDate" [(ngModel)]="newAssignment.due_date" name="dueDate" required>
      </div>
      <div>
        <button type="submit">Create</button>
      </div>
    </form>
  </div>
  