<div class="relative isolate flex items-center gap-x-6 overflow-hidden bg-pink-500 px-6 py-2.5 sm:px-3.5 sm:before:flex-1">
  <div class="absolute left-[max(-7rem,calc(50%-52rem))] top-1/2 -z-10 -translate-y-1/2 transform-gpu blur-2xl" aria-hidden="true">
    <div class="aspect-[577/310] w-[36.0625rem] bg-gradient-to-r from-[#ff80b5] to-[#9089fc] opacity-30" style="clip-path: polygon(74.8% 41.9%, 97.2% 73.2%, 100% 34.9%, 92.5% 0.4%, 87.5% 0%, 75% 28.6%, 58.5% 54.6%, 50.1% 56.8%, 46.9% 44%, 48.3% 17.4%, 24.7% 53.9%, 0% 27.9%, 11.9% 74.2%, 24.9% 54.1%, 68.6% 100%, 74.8% 41.9%)"></div>
  </div>
  <div class="absolute left-[max(45rem,calc(50%+8rem))] top-1/2 -z-10 -translate-y-1/2 transform-gpu blur-2xl" aria-hidden="true">
    <div class="aspect-[577/310] w-[36.0625rem] bg-gradient-to-r from-[#ff80b5] to-[#9089fc] opacity-30" style="clip-path: polygon(74.8% 41.9%, 97.2% 73.2%, 100% 34.9%, 92.5% 0.4%, 87.5% 0%, 75% 28.6%, 58.5% 54.6%, 50.1% 56.8%, 46.9% 44%, 48.3% 17.4%, 24.7% 53.9%, 0% 27.9%, 11.9% 74.2%, 24.9% 54.1%, 68.6% 100%, 74.8% 41.9%)"></div>
  </div>
  <div class="flex flex-wrap items-center gap-x-4 gap-y-2">
    <p class="text-sm leading-6 text-white">
      <strong class="font-semibold">GeneriCon 2023</strong><svg viewBox="0 0 2 2" class="mx-2 inline h-0.5 w-0.5 fill-current" aria-hidden="true"><circle cx="1" cy="1" r="1" /></svg>Join us in Denver from June 7 – 9 to see what’s coming next.
    </p>
    <a href="#" class="flex-none rounded-full bg-black px-3.5 py-1 text-sm font-semibold text-white shadow-sm hover:bg-gray-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-900">Register now <span aria-hidden="true">&rarr;</span></a>
  </div>
  <div class="flex flex-1 justify-end">
    <button type="button" class="-m-3 p-3 focus-visible:outline-offset-[-4px]">
      <span class="sr-only">Dismiss</span>
      <svg class="h-5 w-5 text-black" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
      </svg>
    </button>
  </div>
</div>

<!-- Navbar -->
<nav class="bg-gradient-to-b from-white-500 ...">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <!-- Mobile menu button-->
        <button
          type="button"
          class="relative inline-flex items-center justify-center rounded-md p-2 text-black hover:bg-pink-500 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
          aria-controls="mobile-menu"
          aria-expanded="false"
        >
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">Open main menu</span>
          <!--
              Icon when menu is closed.
  
              Menu open: "hidden", Menu closed: "block"
            -->
          <svg
            class="block h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
            />
          </svg>
          <!--
              Icon when menu is open.
  
              Menu open: "block", Menu closed: "hidden"
            -->
          <svg
            class="hidden h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>
      <div
        class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start"
      >
        <div class="flex flex-shrink-0 items-center">
          <h1 [routerLink]="['/main']"  class="cursor-pointer">Quirky Cocoon</h1>
        </div>
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <!-- Current: "bg-black text-white", Default: "text-gray-500 hover:bg-gray-500 hover:text-white" -->
            <a
            [routerLink]="['/students']"
              class="bg-black text-white rounded-md px-3 py-2 text-sm font-medium"
              aria-current="page"
              >Students</a
            >
            <a
            [routerLink]="['/admin']"
              class="text-gray-500 hover:bg-gray-500 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
              >Admin</a
            >
            <a
            [routerLink]="['/already']"
              class="text-gray-500 hover:bg-gray-500 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
              >Already have an account?</a
            >
            
          </div>
        </div>
      </div>
      
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="sm:hidden" id="mobile-menu">
    <div class="space-y-1 px-2 pb-3 pt-2">
      <!-- Current: "bg-black text-white", Default: "text-gray-500 hover:bg-gray-500 hover:text-white" -->
      <a
      [routerLink]="['/students']"
        class="bg-black text-white block rounded-md px-3 py-2 text-base font-medium"
        aria-current="page"
        >Students</a
      >
      <a
      [routerLink]="['/admin']"
        class="text-gray-500 hover:bg-gray-500 hover:text-white block rounded-md px-3 py-2 text-base font-medium"
        >Admin</a
      >
      <a
      [routerLink]="['/already']"
        class="text-gray-500 hover:bg-gray-500 hover:text-white block rounded-md px-3 py-2 text-base font-medium"
        >Already have an account?</a
      >
      
    </div>
  </div>
</nav>
  
  <div class="bg-sky-500 py-12">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-semibold text-white mb-6">Admin Access</h1>
      <div class="bg-white rounded-lg p-6">
        <form>
          <div class="mb-4">
            <label for="adminname" class="block text-black mb-2">Admin Name</label>
            <input
              type="text"
              [(ngModel)]="name"
              [ngModelOptions]="{ standalone: true }"
              class="form-input w-full py-2 px-3 border border-gray-500 rounded focus:outline-none focus:ring-sky-500"
              id="adminname"
              name="adminname"
              placeholder="Enter Name"
            />
          </div>
  
         
          
          <div class="mb-4">
            <label for="email" class="block text-black mb-2">Email</label>
            <input
              type="text"
              [(ngModel)]="email"
              [ngModelOptions]="{ standalone: true }"
              class="form-input w-full py-2 px-3 border border-gray-500 rounded focus:outline-none focus:ring-sky-500"
              id="email"
              name="email"
              placeholder="Enter Your mail Id"
            />
          </div>
          
          <div class="mb-6">
            <label for="contact_number" class="block text-black mb-2">Contact</label>
            <input
              type="text"
              [(ngModel)]="contact_number"
              [ngModelOptions]="{ standalone: true }"
              class="form-input w-full py-2 px-3 border border-gray-500 rounded focus:outline-none focus:ring-sky-500"
              id="contact_number"
              name="contact_number"
              placeholder="Enter contact Number"
            />
          </div>
          
          <div class="flex justify-between items-center">
            <button
              type="submit"
              class="btn btn-primary bg-sky-500 hover:bg-sky-600 text-white py-2 px-4 rounded focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-sky-500"
              (click)="saveRecords()"
            >
              Login
            </button>
            <!-- <button
              type="submit"
              class="btn btn-warning bg-gray-500 hover:bg-gray-600 text-white py-2 px-4 rounded focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"
              (click)="UpdateRecords()"
            >
              Update
            </button> -->
          </div>
        </form>
      </div>
    </div>
  </div>
  
  
  
  
  
  
  